In [57]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd
from urllib.request import urlopen as uReq

In [58]:
#my_url = 'https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw=playstation+5&_sacat=0'

In [59]:
#to make the search more general you can form the url
search_term = 'data+science+books'
my_url = 'https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw={}&_sacat=0'.format(search_term)

In [60]:
#client1 = requests.get(my_url)
# or
client2 = uReq(my_url)

In [61]:
#soup = soup(client1.text, 'html.parser')
#soup
page_html = client2.read()

In [62]:
page_soup = soup(page_html)

In [63]:
#page_soup.find('span',class_="s-item__price")
#span_tags = page_soup.findAll('span',{"class":"s-item__price"})[4].text
span_tags = page_soup.findAll('span',{"class":"s-item__price"})

In [69]:
prices =[]

for items in span_tags:
    prices.append(items.text)
    #prices.append(items.text[4:])
    
prices = price[1:]
print(prices)

['99.03', '342.50', '499.00 to EUR 519.00', '93.34', '425.83', '370.24', '10.50', '462.85', '322.00', '360.98', '136.06 to EUR 888.68', '361.02', '374.91', '399.00', '105.53', '565.92', '190.00', '334.18', '460.31 to EUR 536.88', '9.25', '231.42', '9.25', '456.68', '347.14', '347.14', '554.39', '401.75', '425.90', '462.85 to EUR 555.42', '409.57', '629.47', '448.97', '140.02', '420.07', '462.86', '546.17', '472.10 to EUR 564.67', '229.87', '324.00', '546.16', '282.34', '439.71', '231.42', '582.27', '462.83', '451.00', '499.00', '240.68', '390.00', '490.00', '449.90', '384.17', '171.00', '212.90', '310.11', '58.32', '466.74', '301.00', '245.04', '291.60', '210.60', '233.37', '124.51', '254.57', '5,050.00', '231.43', '370.28', '146.73', '270.31', '468.59', '393.43']

In [70]:
prices = [(str(i).replace("EUR ", "")) for i in prices]
prices = [(str(i).replace("$", "")) for i in prices]
type(prices[0])

str

In [71]:
#errors = coerce put nan in string like '489.69 to EUR 571.15' in prices 
numeric_prices = pd.to_numeric(prices, errors = 'coerce')

In [72]:
numeric_prices

array([ 99.03, 342.5 ,    nan,  93.34, 425.83, 370.24,  10.5 , 462.85,
       322.  , 360.98,    nan, 361.02, 374.91, 399.  , 105.53, 565.92,
       190.  , 334.18,    nan,   9.25, 231.42,   9.25, 456.68, 347.14,
       347.14, 554.39, 401.75, 425.9 ,    nan, 409.57, 629.47, 448.97,
       140.02, 420.07, 462.86, 546.17,    nan, 229.87, 324.  , 546.16,
       282.34, 439.71, 231.42, 582.27, 462.83, 451.  , 499.  , 240.68,
       390.  , 490.  , 449.9 , 384.17, 171.  , 212.9 , 310.11,  58.32,
       466.74, 301.  , 245.04, 291.6 , 210.6 , 233.37, 124.51, 254.57,
          nan, 231.43, 370.28, 146.73, 270.31, 468.59, 393.43])

In [73]:
#make a dataframe
df = pd.DataFrame(numeric_prices)
df=df.dropna()

In [74]:
df.to_csv('PS5 prices.csv')

In [ ]:
df.to_csv('{} prices.csv'.format(search_term))